.container__small-card {
  width: 700px;
  margin-bottom: 16px;
}

.container__small-card-content {
  display: flex;
  flex-direction: row;
}

.small-card__photo > img {
  width: 200px;
  min-width: 200px;
  height: 120px;
  margin-right: 20px;
}

.small-card__title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.small-card__title > h1 > a {
  color: lightgray;
}

.container__small-card__separator {
  margin-top: 10px;
}
